.Jumbotron {
    background: linear-gradient(to top,rgba(0, 0, 0, 0.4) 55%, transparent), 
    url("https://cdn.pixabay.com/photo/2016/11/23/17/24/automobile-1853936__340.jpg") 0%/cover no-repeat border-box;
    padding: 8rem 2rem;
    position: relative;
    text-align: center;
}

.Jumbotron h1 {
    color:  rgba(252, 248, 232, 0.9);
    font-size: 3rem;
    margin: 1rem auto;
}

.Jumbotron button {
    background: transparent;
    border: 2px solid rgba(252, 248, 232, 0.9);
    color:  rgba(252, 248, 232, 0.9);
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem;
    transition: all 0.25s ease-out;
}

.Jumbotron button:hover {
    background: #fcf8e8;
    border: 2px solid #fcf8e8;
    color: #df7861;
}