.FeaturedProducts {
    margin: auto;
    max-width: 1200px;
    padding: 2rem 0;
    text-align: center;
}

.FeaturedProducts h2 {
    margin-bottom: 0.5rem;
}

.Caption {
    line-height: 1.5;
    margin: auto;
    width: 30%;
}

.Display {
    background: #ffe6d1;
    border-radius: 16px;
    display: flex;
    height: 350px;
    margin: 4rem auto;
    overflow: hidden;
    width: 60%;
}

.ImgContainer {
    overflow: hidden;
    position: relative;
    transition: opacity 0.5s ease-in-out;
    width: 60%;
}

.ImgContainer img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.Text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1.5rem;  
    width: 40%;
}

.Text h3 {
    margin-top: 0;
}

.Text p {
    margin: 0 0 2rem;
}

.Controls {
    display: flex;
    justify-content: center;
}

.Controls button {
    background: #df7861;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 0.75rem;
    margin: 0 1rem;
    opacity: 0.3;
    transition: all 0.25s ease-out;
    width: 0.75rem;
}

.Controls button:hover {
    opacity: 0.4;
}