.CartItem {
    align-items: center;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1.5rem 1rem;
}

.CartItem img {
    margin: 0 1rem;
    object-fit: contain;
    width: 5rem;
}

.CartItemLeft {
    display: flex;
}

.CartItemControls {
    align-items: center;
    display: flex;
}

.CartItemControls button {
    align-items: center;
    border: none;
    color: #7c7c7c;
    display: flex;
    font-size: 1.5rem;
    height: 2rem;
    justify-content: center;
    opacity: 0.4;
    width: 2rem;
}

.CartItemControls p {
    font-size: 1.25rem;
    margin: 0 0.75rem;
}

.Delete {
    background: #dddcdc;
    margin-left: 2rem;
}