.OwnerProfile {
    width: 100%;
}

.OwnerProfile img {
    bottom: -10%;
    object-fit:cover;
    position: absolute;
    transition: all 1.25s cubic-bezier(0.6, 0.08, 0.29, 0.88);
    width: 100%;
}

.Text {
    line-height: 2;
    position: absolute; 
    right: 5%;
    text-align: right;
    transition: all 1.25s ease-in-out;
    width: 36%;
    z-index: 5;
}

.Text h2 {
    color: white;
    font-size: 1.75rem;
}

.Text p {
    color: #eedace;
    font-size: 1.1rem;
}