/* .AboutUsContainer {
    background: linear-gradient(to top,rgba(0, 0, 0, 0.3) 100%, transparent), 
    url("https://firebasestorage.googleapis.com/v0/b/spicy-shop.appspot.com/o/COLOURlovers.com-%D0%90%D0%B1%D1%81%D1%82%D1%80%D0%B0%D0%BA%D1%86%D1%96%D1%8F.png?alt=media&token=dc3a3354-9fba-4a53-9073-666145c8cf9f") 40%/cover no-repeat border-box;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4rem 0;
} */

.AboutUs {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.AboutUs p {
    font-size: 1.25rem;
    line-height: 2;
}

.Text {
    position: relative;
    width: 50%;
}

.Text img {
    left: -40%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    z-index: -1;
}

.Text button {
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0;
}

.Text a {
    background: #df7861;
    color: #fcf8e8;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.25s ease-out;
}

.Text a:hover {
    background: #f5a391;
}

.ImageGroup {
    margin: auto 0;
    position: relative;
    width: 40%;
}

.ImageGroup img {
    width: 100%;
}

.BigSquare,
.MediumSquare,
.LittleSquare {
    border: 4px solid #eee;
    opacity: 0.5;
    position: absolute;
}

.BigSquare {
    height: 12rem;
    right: -4rem;
    top: -5rem;
    width: 12rem;
}

.MediumSquare {
    height: 8rem;
    right: 6rem;
    top: 12rem;
    width: 8rem;
}

.LittleSquare {
    bottom: 3rem;
    height: 3rem;
    right: 18rem;
    width: 3rem;
}