.CompanyProfile {
    display: flex;
    padding: 3rem 1rem;
    justify-content: space-around;
}

.CompanyProfile h2 {
    color: #df7861;
}

.CompanyProfile img {
    width: 40%;
}

.Text {
    line-height: 1.5;
    width: 40%;
}