.Navbar {
    align-items: center;
    background: #fcf8e8;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
    color: #df7861;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    position: relative;
    z-index: 10;
}