.Footer {
    background: #df7861;
    padding: 2rem 2rem 0;
}

.MainContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;
    padding: 1rem 0;
}