.CTAButton {
    background: #d4e2d4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;  
    padding: 1rem;
    transition: all 0.25s ease-out;
}

.CTAButton:hover {
    background: #e4ece4;
}

.CTAButton a {
    align-items: center;
    display: flex;
    text-decoration: none;
}