body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
fcf8e8
d4e2d4
ecb390
df7861
*/
